:root {
  --main-bg-blue: hsl(233, 47%, 7%);
  --card-bg-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);
  --white-main_heading-stats: hsl(0, 0%, 100%);
  --white-main-p: hsla(0, 0%, 100%, 0.75);
  --white-stat_headings: hsla(0, 0%, 100%, 0.6);
  --font-size: 0.9375rem;
  --primary-font-family: 'Inter', sans-serif;
  --secondary-font-family: 'Lexend Deca',
    sans-serif;
  --border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font-family);
  font-size: var(--font-size);
  min-height: 100vh;
  background-color: var(--main-bg-blue);
  position: relative;
}

p {
  line-height: 1.7;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

main {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
}

.card__container {
  display: grid;
  border-radius: var(--border-radius);
  background-color: var(--card-bg-blue);
  text-align: center;
  max-width: 440px;
  overflow: hidden;
}

.card__picture {
  position: relative;
}

.card__picture::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--soft-violet);
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}

.card__content {
  display: grid;
  padding: 2.5rem;
  gap: 1rem;
}

.card__title {
  font-size: 1.8rem;
  color: var(--white-main_heading-stats);
}

.card__title span {
  color: var(--soft-violet);
}

.card__description {
  font-weight: 300;
  font-size: var(--font-size);
  color: var(--white-main-p);
}

.card__stats {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stat {
  font-family: var(--secondary-font-family);
  font-size: 0.75em;
  color: var(--white-stat_headings);
  text-transform: uppercase;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
}

.stat span {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--white-main_heading-stats);
  text-transform: none;
  font-family: var(--primary-font-family);
}

footer {
  position: absolute;
  bottom: 5px;
  width: 100%;
}

@media (min-width: 1024px) {
  main {
    height: 100vh;
    padding: 0;
  }

  .card__container {
    max-width: 1100px;
    grid-template-areas: 'content picture';
    grid-template-columns: 1fr auto;
  }

  .card__content {
    grid-area: content;
    text-align: left;
    padding: 4rem;
    gap: 0rem;
  }

  .card__picture {
    grid-area: picture;
  }

  .card__title {
    font-size: 2.25em;
    line-height: 3rem;
  }

  .card__stats {
    width: 100%;
    flex-direction: row;
    gap: 5em;
  }

  .stat span {
    font-size: 1.75em;
  }
}